@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create / Edit";
}

@model MVCApp.Models.Expense

<div class="container mt-5">
    <div>
        <h2 class="text-center display-6 mb-4">Create Expense</h2>
    </div>
    <div class="card  p-4 border-1 " style="max-width: 600px; margin: auto;">
        <form asp-action="CreateEditExpanseForm" asp-controller="Home">
            <div class="mb-3">
                <label class="form-label fw-semibold">Title</label>
                <input class="form-control rounded-3" required type="text" placeholder="Enter title" asp-for="Title" />
            </div>

            <div class="mb-3">
                <label class="form-label fw-semibold">Description</label>
                <input class="form-control rounded-3" type="text" placeholder="Enter description" asp-for="Description" />
            </div>

            <div class="mb-3">
                <label class="form-label fw-semibold">Cost</label>
                <input class="form-control rounded-3" required type="number" placeholder="0" asp-for="Cost" />
            </div>

            <button type="submit" class="btn btn-primary w-100 py-2 rounded-3">Add Expense</button>
        </form>
    </div>
</div>
